# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
mysite/.venv/
venv/
env/

# Static build output
staticfiles/


# Media uploads (if you have them)
media/

# Environment files
.env

# OS
.DS_Store
Thumbs.db