{% extends "core/base.html" %}
{% load static %}

{% block title %}Physio{% endblock %}

{% block navbar_center %}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="btn btn-success" href="{% url 'physio:home' %}">Physio</a>
    </li>

    {% if user.is_authenticated and user.role == "CONSULTANT" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'physio:consultant_dashboard' %}">My Schedule</a>
      </li>
    {% endif %}

    {% if user.is_authenticated and user.role == "LOCATION_OWNER" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'physio:owner_dashboard' %}">Dashboard</a>
      </li>
    {% endif %}
  </ul>
{% endblock %}