{% extends "core/base.html" %}
{% load static %}

{% block title %}Garage Sale{% endblock %}

{% block navbar_center %}
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="btn btn-success" href="{% url 'garage_sale:home' %}">Garage Sale</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'garage_sale:events_list' %}">View Events</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'garage_sale:owner_event_create' %}">Create Event</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  {% block gs_content %}{% endblock %}
{% endblock %}